
h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #5D5E2C;
    background-color: ;
}

#weatherContent {
    display: none;
}

.navbar {
    height: 150px!important;
}

#cityDetail,
#uvIndexColor,
li {
    color: #5D5E2C!important;
}

#searchResults,
#cityDetail,
.card {
    background-color: #F2FEDC!important;
}

#searchResults {
    height: 100vh;
}

#fiveDay .card {
    border: 1px solid #5D5E2C!important;
}

#searchHistory li {
    background-color: #5D5E2C;
    color: #ffffff!important;
}

p {
    color: #5D5E2C;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5 {
    color: #5D5E2C;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F2FEDC;
}